<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="/common/header::header(~{::title})">
<title>图片表</title>
</head>

<body>

    <div class="sui-main">
        <ul class="sui-breadcrumb">
			<li class="active">图片表</li>
		</ul>
        <!-- 搜索 -->
        <form method="get" th:action="@{/bs/imageRecord/list}" class="sui-form form-horizontal submit_form">
            <div class="sui-row-fluid sui-row-fluid-search">
            
                        <div class="span4">
                            <div class="control-group">
                                <label class="control-label">图片编号：</label>
                                <div class="controls">
                                    <input autocomplete="off" type="text" placeholder="请输入图片编号" name="imageId" th:value="${imageId}" class="input-large input-fat">
                                </div>
                            </div>
                        </div>
                        <div class="span4">
                            <div class="control-group">
                                <label class="control-label">拍照编号：</label>
                                <div class="controls">
                                    <input autocomplete="off" type="text" placeholder="请输入拍照编号" name="takePhotoId" th:value="${takePhotoId}" class="input-large input-fat">
                                </div>
                            </div>
                        </div>
                        <div class="span4">
                            <div class="control-group">
                                <label class="control-label" for="beginPhotoBeginTime">拍照开始时间：</label>
                                <div class="controls">
                                    <input autocomplete="off" class="input-large input-fat input-date" onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})" placeholder="选择开始时间" style="width:142px;" type="text" th:value="${beginPhotoBeginTime}" name="beginPhotoBeginTime" id="beginPhotoBeginTime" />
                                    <label for="endPhotoBeginTime"> 至 </label>
                                    <input autocomplete="off" class="input-large input-fat input-date" onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})" placeholder="选择结束时间" style="width:142px;" type="text" th:value="${endPhotoBeginTime}" name="endPhotoBeginTime" id="endPhotoBeginTime" />
                                </div>
                            </div>
                        </div>
                        <div class="span4">
                            <div class="control-group">
                                <label class="control-label" for="beginCallAiBeginTime">调用AI开始时间：</label>
                                <div class="controls">
                                    <input autocomplete="off" class="input-large input-fat input-date" onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})" placeholder="选择开始时间" style="width:142px;" type="text" th:value="${beginCallAiBeginTime}" name="beginCallAiBeginTime" id="beginCallAiBeginTime" />
                                    <label for="endCallAiBeginTime"> 至 </label>
                                    <input autocomplete="off" class="input-large input-fat input-date" onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})" placeholder="选择结束时间" style="width:142px;" type="text" th:value="${endCallAiBeginTime}" name="endCallAiBeginTime" id="endCallAiBeginTime" />
                                </div>
                            </div>
                        </div>
                        <div class="span4">
                            <div class="control-group">
                                <label class="control-label" for="beginCreateTime">添加时间：</label>
                                <div class="controls">
                                    <input autocomplete="off" class="input-large input-fat input-date" onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})" placeholder="选择开始时间" style="width:142px;" type="text" th:value="${beginCreateTime}" name="beginCreateTime" id="beginCreateTime" />
                                    <label for="endCreateTime"> 至 </label>
                                    <input autocomplete="off" class="input-large input-fat input-date" onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})" placeholder="选择结束时间" style="width:142px;" type="text" th:value="${endCreateTime}" name="endCreateTime" id="endCreateTime" />
                                </div>
                            </div>
                        </div>
            </div>
            <div class="control-group submit_btn">
				<div class="controls">
					<button class="sui-btn btn-bordered btn-large btn-primary" type="submit">
						<i class="sui-icon icon-tb-search"></i>搜索
					</button>
				</div>
			</div>
        </form>

        <!-- 上分页 -->
        <form class="sui-pager" method="get" th:action="@{/bs/imageRecord/list}" name="frmTurnPage1">
            
            <input type="hidden" name="imageId" th:value="${imageId}" />
            <input type="hidden" name="takePhotoId" th:value="${takePhotoId}" />
            <input type="hidden" name="beginPhotoBeginTime" th:value="${beginPhotoBeginTime}" />
            <input type="hidden" name="endPhotoBeginTime" th:value="${endPhotoBeginTime}" />
            <input type="hidden" name="beginCallAiBeginTime" th:value="${beginCallAiBeginTime}" />
            <input type="hidden" name="endCallAiBeginTime" th:value="${endCallAiBeginTime}" />
            <input type="hidden" name="beginCreateTime" th:value="${beginCreateTime}" />
            <input type="hidden" name="endCreateTime" th:value="${endCreateTime}" />
            <div class="clearfix" th:include="/common/turnPage::pager('frmTurnPage1')"></div>
        </form>


        <!-- 列表 -->
                <form id="J_delForm" th:action="@{/bs/imageRecord/delRecords}">
                    <div class="clearfix" style="margin-bottom: 10px;">
                <div class="pull-left">
                                <button class="sui-btn btn-bordered btn-default" type="button" onclick="Util.confirmSelectedCheckboxes('J_delForm', 'checkAll');">
                    <i class="sui-icon icon-tb-delete"></i>删除
                </button>
                                <button class="sui-btn btn-bordered btn-primary" type="button" data-toggle="modal" data-target="#suiModal"
                        onclick="g_needReloadPage = true;$('#J_modalLabel').text('新增图片表');$('#J_modalIframe').attr('src', 'showAdd');">
                    <i class="sui-icon icon-tb-add"></i>新增
                </button>
                                </div>
                            </div>

            <table class="sui-table table-bordered table-zebra">
                <thead class="records_table_head">
                    <tr>
                                        <th width="55">
                        <label data-toggle="checkbox" class="checkbox-pretty inline"> <input id="checkAll" type="checkbox"
                                onclick="if(this.checked) {Util.selectAllCheckbox(this.form);} else { Util.cancelAllCheckbox(this.form); }"><span>全选</span>
                        </label>
                    </th>
                                        
                    <th>图片编号</th>
                    
                    <th>拍照编号</th>
                    
                    <th>图片地址</th>
                    
                    <th>拍照开始时间</th>
                    
                    <th>拍照结束时间</th>
                    
                    <th>调用AI开始时间</th>
                    
                    <th>调用AI结束时间</th>
                    
                    <th>添加时间</th>
                    
                    <th>更新时间</th>
                    
                    <th>状态</th>
                    <th width="80">操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="records_table_record" th:each="record:${pageData.resultList}">
                                        <td>
                        <label data-toggle="checkbox" class="checkbox-pretty inline"> <input type="checkbox" name="delIds" th:value="${record.imageId}" onclick="Util.verifyCheckAll(this.form, 'checkAll');"><span>&nbsp;</span>
                        </label>
                    </td>
                                        
        <td th:text="${record.imageId}"></td>
        
        <td th:text="${record.takePhotoId}"></td>
        
        <td th:text="${record.imagePath}"></td>
        
        <td th:text="${#dates.format(record.photoBeginTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
            
        <td th:text="${#dates.format(record.photoEndTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
            
        <td th:text="${#dates.format(record.callAiBeginTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
            
        <td th:text="${#dates.format(record.callAiEndTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
            
        <td th:text="${#dates.format(record.createTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
            
        <td th:text="${#dates.format(record.updateTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
            
        <td th:switch="${record.state}">
        <span th:case="0">无效</span><span th:case="1">有效</span>
            <span th:case="*" th:text="${record.state}"></span>
        </td>
                <td>
            <div class="btn-group-vertical btn_operators">

                    <a href="javascript:void(0)" data-toggle="modal" data-target="#suiModal" th:onclick="|javascript:g_needReloadPage = false;$('#J_modalLabel').text('查看图片表');$('#J_modalIframe').attr('src', 'show?imageId=${record.imageId}');|">查看</a>
                    <a href="javascript:void(0)" data-toggle="modal" data-target="#suiModal" th:onclick="|javascript:g_needReloadPage = true;$('#J_modalLabel').text('修改图片表');$('#J_modalIframe').attr('src', 'showUpd?imageId=${record.imageId}');|">修改</a>
                    <a href="javascript:void(0)" data-toggle="modal" data-target="#suiModal" th:onclick="|javascript:g_needReloadPage = true;$('#J_modalLabel').text('复制新增图片表');$('#J_modalIframe').attr('src', 'showAdd?imageId=${record.imageId}');|">复制新增</a>




            </div>
        </td>
                    </tr>
                </tbody>
            </table>

                </form>
        
        <!-- 下分页 -->
        <form class="sui-pager" method="get" th:action="@{/bs/imageRecord/list}" name="frmTurnPage2">
            
                <input type="hidden" name="imageId" th:value="${imageId}" />
                <input type="hidden" name="takePhotoId" th:value="${takePhotoId}" />
                <input type="hidden" name="beginPhotoBeginTime" th:value="${beginPhotoBeginTime}" />
                <input type="hidden" name="endPhotoBeginTime" th:value="${endPhotoBeginTime}" />
                <input type="hidden" name="beginCallAiBeginTime" th:value="${beginCallAiBeginTime}" />
                <input type="hidden" name="endCallAiBeginTime" th:value="${endCallAiBeginTime}" />
                <input type="hidden" name="beginCreateTime" th:value="${beginCreateTime}" />
                <input type="hidden" name="endCreateTime" th:value="${endCreateTime}" />
                <div class="clearfix" th:include="/common/turnPage::pager('frmTurnPage2')"></div>
        </form>

                <!-- 通用弹出层 -->
        <div id="suiModal" tabindex="-1" role="dialog" data-hasfoot="false" data-width="normal" class="sui-modal hide">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" data-dismiss="modal" aria-hidden="true" class="sui-close">×</button>
						<h4 id="J_modalLabel" class="modal-title">标题</h4>
					</div>
					<div class="modal-body">
						<iframe class="sui-iframe" id="J_modalIframe" src="" width="100%" height="400px"></iframe>
					</div>
				</div>
			</div>
		</div>

    </div>

    <script>
		$('#suiModal').on('hidden', function() {
			if (g_needReloadPage) {
				location.reload();
			}
		}).on('shown', function() {
            $(this).removeClass("hide");
			$('#J_modalIframe').autoheight();
		});
	</script>

</body>
</html>
